*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* Паттерн для скрытия лишних элементов */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Стили идут по порядку появления каждого класса внутри кода HTML */

.content {
  display: flex;
  align-items: end;
  gap: 30px;
}

/* Все, что справа: видео и строка поиска */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Стили видео */

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Стили "формы" поиска */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
}

.search-form__textfield {
  display: flex;
  align-items: center;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

/* Состояния для поиска */

.search-form__textfield:active {
  border-inline-start: 1px solid #fff;
  border-inline-end: 1px solid #fff;
}

.search-form__textfield:hover {
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Стили для списка чекбосков*/

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

/* Состояния для чекбоксов */

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text:focus {
}

/* Общие стили для кнопки */

.button {
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

/* Состояния для кнопки */

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Стили для кнопки "Найти" */

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

/* Все, что слева: заголовок и карточки */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

/* Заголовок страницы */

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

/* Акцентный элемент */

.content__accent {
  color: #545050;
}

.content__list-container {
  overflow-y: scroll;
  block-size: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Стили теймплейтов */

.cards-list-item-template {
}

.content__list-item {
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

/* Состояния для карточек */

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  border: 1px solid transparent;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: start;
}

.more-button-template {
}

/* Стили для кнопки "Показать еще" */

.more-button {
  width: 100%;
}
